<h1>Here are all of your meals!</h1>

<%= link_to 'Create your own new meal', new_meal_path %>
<br/>
 
<table>
  <tr>
    <th>Title</th>
    <th>Chef</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @meals.each do |meal| %>
    <tr>
      <td><%= meal.title %></td>
      <td><%= meal.chef %></td>
      <td><%= meal.text %></td>
      <td><%= link_to 'Show', meal_path(meal) %></td>
      <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
      <td><%= link_to 'Delete', meal_path(meal),
                    method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
</table>